@import '~@angular/material/theming';
@import "./app/pages/pages.component.theme";
@import "./app/shared/navbar/navbar.component.theme";

@mixin app-theme($theme) {
  $primary:map-get($theme, primary);
  $accent:map-get($theme, accent);
  $warn:map-get($theme, warn);
  $background:map-get($theme, background);
  $foreground:map-get($theme, foreground);

  @include pages-component-theme($theme);
  @include navbar-component-theme($theme);
  /* .docs-app-background {
    background: mat-color($background, background);

  .docs-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .docs-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }*/

  /*
    @include docs-site-typography-theme($theme);

    @include component-viewer-sidenav-theme($theme);
    @include home-page-theme($theme);
    @include component-viewer-theme($theme);
    @include component-list-theme($theme);
    @include component-category-list-theme($theme);
    @include nav-bar-theme($theme);
    @include example-viewer-theme($theme);*/
}
