@import '~@angular/material/core/theming/all-theme';
@import "./app-theme";
@import "./style/com";
@import "./style/typography";
@import "./style/pagination";

$fa-font-path:"~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

// Include material core styles.
@include mat-core();

// Define the light theme.
$primary:mat-palette($mat-blue);
$accent:mat-palette($mat-amber, A200, A100, A400);

$theme:mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
@include app-theme($theme);

//common style
@include fontSize();
@include mp();
@include typography($theme)
@include align();
@include pagination($theme);

html, body{
  height:100%;
  padding:0;
  margin:0;

}

body{
  font:12px/1.5 tahoma;
}

*{
  box-sizing:border-box;
}

li, ul, dl, dd, dt{
  padding:0;
  margin:0;
  list-style:none;
}

p{
  padding:0;
  margin:0;
}

.mat-button .mat-button-wrapper .fa{
  vertical-align:baseline;
}

.block{
  display:block !important;
}

.inline{
  display:inline !important;
}

.inline-block{
  display:inline-block !important;
}

.flex{
  display:flex !important;
}

.clear-fix{
  &:after{
    content:' ';
    display:block;
    clear:both;
    overflow:hidden;
  }
}