
$sidenav-spacing-unit: 8px;
$sidenav-width: 200px;

:host{

  flex:1 1;
  display:flex;
  position:relative;
  flex-direction:column;

}


md-sidenav-container{
  flex:1 1;
  md-sidenav{
    width: $sidenav-width;
    padding:$sidenav-spacing-unit 0;

  }

}




li>a{
  display:block;
  text-align:left;
  font-size:15px;
  &.active{
    color:#00abff;
  }
}


li:not(:first-child){
  border-top:1px solid rgba(255,255,255,.1);
}
li li{
  border:none;
}

li li a{
  padding-left:36px;
  font-size:.7em;
}
