<ul>
    <li>
        <ion-icon name="ios-color-palette" color="s1"></ion-icon>
        反馈

    </li>
    <li>
        <ion-icon name="ios-color-palette" color="s2"></ion-icon>
        反馈
    </li>
    <li>
        <ion-icon name="ios-color-palette" color="s3"></ion-icon>
        反馈
    </li>
    <li>
        <ion-icon name="ios-color-palette" color="s4"></ion-icon>
        反馈
    </li>
    <li>
        <ion-icon name="ios-color-palette" color="s5"></ion-icon>
        反馈
    </li>
    <li>
        <ion-icon name="ios-color-palette" color="s1"></ion-icon>
        反馈
    </li>
    <li>
        <ion-icon name="ios-color-palette" color="s2"></ion-icon>
        反馈
    </li>
    <li>
        <ion-icon name="ios-color-palette" color="s3"></ion-icon>
        反馈
    </li>
    <li>
        <ion-icon name="ios-color-palette" color="s4"></ion-icon>
        反馈
    </li>

</ul>
