<ion-header>
    <ion-toolbar [color]="toolbarColor">
        <ion-title>
            {{title}}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <ion-icon name="md-close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="ok()">
                <a ion-button clear small>{{okButtonText}}</a>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="images-slider">

        <ion-slides pager>

            <ion-slide *ngFor="let item of list">

                    <img [src]="item" class="preview-img" alt="">

            </ion-slide>

        </ion-slides>

    </div>

</ion-content>