<div class="p-sm">
    <md-input-container  floatPlaceholder="false" class="block m-b-md">
        <textarea mdInput mdTextareaAutosize  placeholder="situation" maxlength="200" ></textarea>
    </md-input-container>
    <md-input-container class="block m-b">
        <textarea mdInput placeholder="task" maxlength="200"></textarea>
    </md-input-container>
    <md-input-container class="block m-b">
        <textarea mdInput placeholder="result" maxlength="200"></textarea>
    </md-input-container>
    <md-input-container class="block m-b">
        <textarea mdInput placeholder="reflection" maxlength="200"></textarea>
    </md-input-container>
</div>