<ion-header>
    <ion-navbar>
        <ion-title>
            feed
        </ion-title>
        <!--
                <ion-buttons end>
                    <button ion-button icon-only (click)="openModal()">
                        <ion-icon name="options"></ion-icon>
                    </button>
                </ion-buttons>-->
    </ion-navbar>
</ion-header>

<ion-content>
    <app-feed *ngFor="let item  of  feeds" (detailClicked)="goToDetail($event)" [view]="item"></app-feed>

</ion-content>

