<ion-header>
    <ion-navbar>
        <ion-title>
            feed
        </ion-title>
        <!--
                <ion-buttons end>
                    <button ion-button icon-only (click)="openModal()">
                        <ion-icon name="options"></ion-icon>
                    </button>
                </ion-buttons>-->
    </ion-navbar>
</ion-header>

<ion-content contentBottom="100">

    <app-comment (msg)="msgHandle($event)"></app-comment>
    <app-feed *ngFor="let item  of  feeds" (commentEvent)="showCommentBox($event)" (detailClicked)="goToDetail($event)" [view]="item"></app-feed>
    <ion-fab right bottom >
        <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>


