<section class="feed ">
    <div class="con">
        <div class="side">
            <a class="avatar">
                <img [src]="view.user.avatar" alt="">

            </a>
            <div>{{view.user.name}}</div>

        </div>

        <div class="main">
            <ul (click)="starrClick()" class="starr">
                <li *ngIf="view.situation">
                    <ion-badge color="">S</ion-badge>
                    ion-b{{view.situation}}
                </li>
                <li *ngIf="view.action">
                    <ion-badge color="">A</ion-badge>
                    {{view.action}}
                </li>
                <li *ngIf="view.result">
                    <ion-badge color="">R</ion-badge>
                    {{view.result}}
                </li>
                <li *ngIf="view.reflection">
                    <ion-badge color="">F</ion-badge>
                    {{view.reflection}}
                </li>
            </ul>

            <app-images-view *ngIf="view.images?.length>1" [images]="view.images"></app-images-view>
            <div class="feed-footer m-t-sm">
              <span class="pull-right">
               <span>

                 <ion-icon name="heart" [isActive]="view.liked" (click)="toggleLike()"
                           [ngClass]="{'red':view.liked}"></ion-icon>
                </span>
                <span class="m-l-xs " (click)="doComment()">
                    <ion-icon name="ios-chatbubbles-outline"></ion-icon>
                    {{view.comments.count}}
                </span>
            </span><span>{{view.location}}</span>
            </div>
           <div class="comment-list-warp" *ngIf="view.comments?.data?.length"> <app-comment-list [view]="view.comments?.data" (userLinkEvent)="toUser($event)" (commentEvent)="doComment()"></app-comment-list></div>
        </div>
    </div>

</section>
