
:host{
  height:100%;

}

.backdrop{
  flex:1 1;
  background:rgba(0,0,0,.05);
}

.wrap{
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  height:100%;

}

.comment{
  border-top:1px solid #ddd;
  background:#fff;
  display:flex;
  padding:10px 5px;
  .main{
    flex:1 1;
  }

  textarea{
    width:100%;
    border:1px solid #ddd;
    border-radius:3px;
    padding: 8px;

  }

}

button{
  flex:0 0 40px;
  margin:0 5px 0 10px;
}